<!DOCTYPE html>
<html lang="en">

<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="TechyDevs" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>CarrièreX - Employeur login</title>
	<!-- Favicon -->
	<link rel="icon" href="images/favicon.png" />

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,&amp;display=swap"
		rel="stylesheet" />
	<!-- Template CSS Files -->
	<link rel="stylesheet" href="../assets/dashboard/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../assets/dashboard/css/line-awesome.css" />
	<link rel="stylesheet" href="../assets/dashboard/css/owl.carousel.min.css" />
	<link rel="stylesheet" href="../assets/dashboard/css/owl.theme.default.min.css" />
	<link rel="stylesheet" href="../assets/dashboard/css/magnific-popup.css" />
	<link rel="stylesheet" href="../assets/dashboard/css/daterangepicker.css" />
	<link rel="stylesheet" href="../assets/dashboard/css/jquery-ui.css" />
	<link rel="stylesheet" href="../assets/dashboard/css/chosen.min.css" />
	<link rel="stylesheet" href="../assets/dashboard/css/style.css" />
</head>

<body>
	<!-- start per-loader -->
	<div class="loader-container">
		<div class="loader-circle">
			<div class="loader">
				<div class="loader-dot"></div>
				<div class="loader-dot"></div>
				<div class="loader-dot"></div>
				<div class="loader-dot"></div>
				<div class="loader-dot"></div>
				<div class="loader-dot"></div>
			</div>
		</div>
	</div>
	<!-- end per-loader -->
	
	<!-- ================================
       START FORM AREA
================================= -->
	<section class="form-shared padding-top-100px padding-bottom-100px">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mx-auto">
					<div class="user-action-form">
						<div class="tab-shared tab-shared-3">
							<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
								<li class="nav-item">
									<a class="nav-link theme-btn active" id="login-tab" data-bs-toggle="tab"
										href="#login-nav" role="tab" aria-controls="login-nav" aria-selected="true">
										<i class="la la-sign-in"></i> Se connecter
									</a>
								</li>
								<li class="nav-item">
									<a class="nav-link theme-btn" id="signup-tab" data-bs-toggle="tab"
										href="#signup-nav" role="tab" aria-controls="signup-nav" aria-selected="false">
										<i class="la la-user"></i> Créer compte
									</a>
								</li>
							</ul>
						</div>
						<div class="tab-content" id="myTabContent">
							<div class="tab-pane fade show active" id="login-nav" role="tabpanel"
								aria-labelledby="login-tab">
								<div class="billing-form-item mb-0">
									<!-- billing-title-wrap -->
									<div class="billing-content">
										<div class="contact-form-action">
											<form method="post" action="employeurLogin">
												<div class="row">
													<div class="col-lg-12">
														<div class="input-box">
															<label class="label-text">Adresse email</label>
															<div class="form-group">
																<i class="la la-user form-icon"></i>
																<input class="form-control" type="email" name="email"
																	placeholder="Votre adresse email" />
															</div>
														</div>
													</div>
													<!-- end col-lg-12 -->
													<div class="col-lg-12">
														<div class="input-box">
															<label class="label-text">Mot de passe</label>
															<div class="form-group">
																<i class="la la-lock form-icon"></i>
																<input class="form-control password-field"
																	type="password" name="password"
																	placeholder="Mot de passe" />
																<a href="javascript:void(0)" class="btn toggle-password"
																	title="Toggle show/hide password">
																	<i class="la la-eye eye-on"></i>
																	<i class="la la-eye-slash eye-off"></i>
																</a>
															</div>
														</div>
													</div>
													<!-- end col-lg-12 -->
													<div class="col-lg-12">
														<div class="form-group">
															<div>
																<div>
																	<a href="#" class="color-text">Mot de passe oubliée?</a>
																</div>
															</div>
														</div>
													</div>
													<!-- end col-lg-12 -->
													<div class="col-lg-12">
														<div class="btn-box margin-top-20px margin-bottom-10px">
															<button class="theme-btn border-0" type="submit">Login Account</button>
														</div>
													</div>
													<!-- end col-lg-12 -->
												</div>
												<!-- end row -->
											</form>
										</div>
										<!-- end contact-form-action -->
									</div>
									<!-- end billing-content -->
								</div>
								<!-- end billing-form-item -->
							</div>
							<!-- end tab-pane -->
							<div class="tab-pane fade" id="signup-nav" role="tabpanel" aria-labelledby="signup-tab">
								<div class="billing-form-item mb-0">
									<div class="billing-content">
										<div class="contact-form-action">
											<form method="post" action="newEmployeur">
												<div class="row">
												</div>
												<!-- end row -->
												<div class="input-box">
													<label class="label-text">Prénom</label>
													<div class="form-group">
														<i class="la la-user form-icon"></i>
														<input class="form-control" type="text" name="prenom"
															placeholder="Prénom" />
													</div>
												</div>
												<!-- input-box -->
												<div class="input-box">
													<label class="label-text">Nom</label>
													<div class="form-group">
														<i class="la la-user form-icon"></i>
														<input class="form-control" type="text" name="nom"
															placeholder="Nom" />
													</div>
												</div>
												<!-- input-box -->
												<div class="input-box">
													<label class="label-text">Email</label>
													<div class="form-group">
														<i class="la la-envelope-o form-icon"></i>
														<input class="form-control" type="email" name="email"
															placeholder="Entrer adresse email" />
													</div>
												</div>
												<!-- input-box -->
												<div class="input-box mb-3">
													<label class="label-text">Mot de passe</label>
													<div class="form-group mb-0">
														<i class="la la-lock form-icon"></i>
														<input class="form-control password-field" type="password"
															name="password" placeholder="Mot de passe" />
														<a href="javascript:void(0)" class="btn toggle-password"
															title="Toggle show/hide password">
															<i class="la la-eye eye-on"></i>
															<i class="la la-eye-slash eye-off"></i>
														</a>
													</div>
												</div>
												<!-- input-box -->
												<div class="input-box">
													<label class="label-text">Confirmer mot de passe</label>
													<div class="form-group">
														<i class="la la-lock form-icon"></i>
														<input class="form-control password-field" type="password"
															name="confirmPassword" placeholder="Confirmer mot de passe" />
													</div>
												</div>
												<!-- input-box -->
												<div class="btn-box margin-top-30px">
													<button class="theme-btn border-0" type="submit">
														Créer compte
													</button>
												</div>
											</form>
										</div>
										<!-- end contact-form-action -->
									</div>
									<!-- end billing-content -->
								</div>
								<!-- end billing-form-item -->
							</div>
							<!-- end tab-pane -->
						</div>
						<!-- end tab-content -->
					</div>
				</div>
				<!-- end col-lg-6 -->
			</div>
			<!-- end row -->
		</div>
		<!-- end container -->
	</section>
	<!-- end form-shared -->

	<!-- start back-to-top -->
	<div id="back-to-top">
		<i class="la la-angle-up" title="Go top"></i>
	</div>
	<!-- end back-to-top -->

	<!-- Template JS Files -->
	<script src="../assets/dashboard/js/jquery-3.7.1.min.js"></script>
	<script src="../assets/dashboard/js/jquery-ui.js"></script>
	<script src="../assets/dashboard/js/bootstrap.bundle.min.js"></script>
	<script src="../assets/dashboard/js/owl.carousel.min.js"></script>
	<script src="../assets/dashboard/js/jquery.magnific-popup.min.js"></script>
	<script src="../assets/dashboard/js/isotope-3.0.6.min.js"></script>
	<script src="../assets/dashboard/js/chosen.min.js"></script>
	<script src="../assets/dashboard/js/moment.min.js"></script>
	<script src="../assets/dashboard/js/daterangepicker.js"></script>
	<script src="../assets/dashboard/js/purecounter.js"></script>
	<script src="../assets/dashboard/js/progresscircle.js"></script>
	<script src="../assets/dashboard/js/main.js"></script>
</body>

</html>