<div class="dashboard-sidebar">
	<div class="dashboard-nav-trigger">
		<div class="dashboard-nav-trigger-btn">
			<i class="la la-bars"></i> Dashboard Navigation
		</div>
	</div>
	<div class="dashboard-nav-container">
		<div class="humburger-menu">
			<div class="humburger-menu-lines side-menu-close"></div>
			<!-- end humburger-menu-lines -->
		</div>
		<!-- end humburger-menu -->
		<div class="side-menu-wrap">
			<ul class="side-menu-ul">
				<li id="dashboard-nav-item">
					<a href="dashboard"><i class="la la-dashboard icon-element"></i>
						Tableau de bord</a>
				</li>
				<li id="post-job-nav-item">
					<a href="postJob"><i class="la la-plus-circle icon-element"></i>
						Publier un offre emploi
					</a>
				</li>
				<li id="gerer-emplois-nav-item">
					<a href="gererEmplois"><i class="la la-briefcase icon-element"></i>
						Gérer les offres
					</a>
				</li>
				<li id="gerer-emplois-nav-item">
					<a href="newCours"><i class="la la-swatchbook icon-element"></i>
						Publier un cours
					</a>
				</li>
				<li id="gerer-emplois-nav-item">
					<a href="manageCours"><i class="la la-book-open icon-element"></i>
						Gérer des cours
					</a>
				</li>
				<li id="gerer-candiats-nav-item">
					<a href="gererCandidats"><i class="las la-user-friends icon-element"></i>
						Gérer les candidats
					</a>
				</li>
				<li id="settings">
					<a href="#"><i class="la la-gear icon-element"></i> Paramètres
						<span class="la la-caret-down btn-toggle"></span></a>
					<ul class="dropdown-menu-item">
						<li id="edit-profile-nav-item">
							<a href="dashProfile">Editer le profil</a>
						</li>
						<li id="change-password-nav-item">
							<a href="changePass">Changer mot de passe</a>
						</li>
					</ul>
				</li>
				<li>
					<div class="section-block margin-top-30px mb-3"></div>
				</li>
				<li>
					<a><i class="la la-user icon-element"></i><span
							th:text="${emp.prenom} + ' ' + ${emp.nom}"></span></a>
				</li>
				<li>
					<a href="employeurLogout"><i class="la la-power-off icon-element"></i>Se déconncter</a>
				</li>
			</ul>
		</div>
		<!-- end side-menu-wrap -->
	</div>
</div>