<!doctype html>
<html lang="zxx">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="assets/css/boxicon.min.css">

    <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">

    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <link rel="stylesheet" href="assets/css/meanmenu.css">

    <link rel="stylesheet" href="assets/css/nice-select.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/dark.css">

    <link rel="stylesheet" href="assets/css/responsive.css">

   <title>CarrièreX - Contacter nous</title>

    <link rel="icon" type="image/png" href="assets/img/favicon.png">
</head>

<body>

    <div class="loader-content">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="navbar ::html"></div>

    <section class="page-title title-bg23">
        <div class="d-table">
            <div class="d-table-cell">
                <h2>Contact</h2>
                <ul>
                    <li>
                        <a href="/">Acceuil</a>
                    </li>
                    <li>Contact</li>
                </ul>
            </div>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>


    <div class="contact-card-section ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="contact-card">
                                <i class="bx bx-phone-call"></i>
                                <ul>
                                    <li>
                                        <a href="tel:+145664474574">
                                           +212 (0) 522 24 06 05/42
                                        </a>
                                    </li>                                 
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="contact-card">
                                <i class="bx bx-mail-send"></i>
                                <ul>
                                    <li>
                                        <a
                                            href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#b6dfd8d0d9f6dcd9c0dfd398d5d9db">
                                            <span class="__cf_email__"
                                                data-cfemail="6801060e072802071e010d460b0705">[contact.international@iga.ac.ma]</span>
                                        </a>
                                    </li>
                                    </ul>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 offset-sm-3 offset-md-0">
                            <div class="contact-card">
                                <i class="bx bx-location-plus"></i>
                                <ul>
                                    <li>
                                        Place de la gare Casa Voyageurs, Casablanca Maroc.
                                    </li>
               
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="contact-form-section pb-100">
        <div class="container">
            <div class="contact-area">
                <h3>Parlons avec nous</h3>
                <form id="contactForm">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="name" id="name" class="form-control" required
                                    data-error="entrer votre nom" placeholder="Votre nom">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" name="email" id="email" class="form-control" required
                                    data-error="entrer votre email" placeholder="Votre Email">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="number" name="number" id="number" class="form-control" required
                                    data-error="entrer votre numero" placeholder="Téléphone">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" name="subject" id="subject" class="form-control" required
                                    data-error="entrer votre sujet" placeholder="Votre sujet">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea name="message" class="form-control message-field" id="message" cols="30"
                                    rows="7" required data-error="Veuillez saisir votre message"
                                    placeholder="Écrire un message"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 text-center">
                            <button type="submit" class="default-btn contact-btn">
                                Envoyer le message
                            </button>
                            <div id="msgSubmit" class="h3 alert-text text-center hidden"></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

<div th:replace="footer ::html"></div>

    <div class="top-btn">
        <i class="bx bx-chevrons-up bx-fade-up"></i>
    </div>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/js/jquery.nice-select.min.js"></script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="assets/js/form-validator.min.js"></script>

    <script src="assets/js/contact-form-script.js"></script>

    <script src="assets/js/meanmenu.js"></script>

    <script src="assets/js/custom.js"></script>
</body>


</html>