<html>
    <footer class="footer-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href="index.html">
                                <img src="../assets/img/logo.png" alt="logo">
                            </a>
                        </div>
                      
                        <div class="footer-social">
                            <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
                            <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
                            <a href="#" target="_blank"><i class="bx bxl-pinterest-alt"></i></a>
                            <a href="#" target="_blank"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget pl-60">
                        <h3>Pour le candidat</h3>
                        <ul>
                            <li>
                                <a href="job-grid.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    Parcourir les emplois
                                </a>
                            </li>
                            <li>
                                <a href="account.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    Compte
                                </a>
                            </li>
                            <li>
                                <a href="catagories.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                   Parcourir les catégories
                                </a>
                            </li>
                            <li>
                                <a href="resume.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    CV
                                </a>
                            </li>
                            <li>
                                <a href="job-list.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    Liste d'emplois
                                </a>
                            </li>
                            <li>
                                <a href="sign-up.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                   S'inscrire
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget pl-60">
                        <h3>Liens rapides</h3>
                        <ul>
                            <li>
                                <a href="index.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    Acceuil
                                </a>
                            </li>
                            <li>
                                <a href="about.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    À propos
                                </a>
                            </li>
                            <li>
                                <a href="faq.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    FAQ
                                </a>
                            </li>
                            <li>
                                <a href="pricing.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    Tarifs
                                </a>
                            </li>
                            <li>
                                <a href="privacy.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    Confidentialité
                                </a>
                            </li>
                            <li>
                                <a href="contact.html">
                                    <i class="bx bx-chevrons-right bx-tada"></i>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="footer-widget footer-info">
                        <h3>Information</h3>
                        <ul>
                            <li>
                                <span>
                                    <i class="bx bxs-phone"></i>
                                    Téléphone:
                                </span>
                                <a href="tel:882569756">
                                    +212 (0) 522 24 06 05/42
                                </a>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bxs-envelope"></i>
                                    Email:
                                </span>
                                <a href="https://templates.hibootstrap.com/cdn-cgi/l/email-protection#5f363139301f353029363a713c3032">
                                    <span class="__cf_email__"
                                        data-cfemail="c4adaaa2ab84aeabb2ada1eaa7aba9">[contact.international@iga.ac.ma]</span>
                                </a>
                            </li>
                            <li>
                                <span>
                                    <i class="bx bx-location-plus"></i>
                                    Addresse:
                                </span>
                                Place de la gare Casa Voyageurs, Casablanca Maroc.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright-text text-center">
        <p>© Carri-rex appartient fièrement à<a href="https://hibootstrap.com/" target="_blank">HiBootstrp</a></p>
    </div>


    <div class="top-btn">
        <i class="bx bx-chevrons-up bx-fade-up"></i>
    </div>
</html>