<!doctype html>
<html lang="zxx">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="assets/css/boxicon.min.css">

    <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">

    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <link rel="stylesheet" href="assets/css/meanmenu.css">

    <link rel="stylesheet" href="assets/css/nice-select.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/dark.css">

    <link rel="stylesheet" href="assets/css/responsive.css">

    <title>Carri-rex</title>

    <link rel="icon" type="image/png" href="assets/img/favicon.png">
</head>

<body>

    <div class="loader-content">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </div>


  <div th:replace="navbar ::html"></div>
  
    <section class="page-title title-bg6">
        <div class="d-table">
            <div class="d-table-cell">
                <h2>Détails du poste</h2>
                <ul>
                    <li>
                        <a href="/">Acceuil</a>
                    </li>
                    <li>Détails du poste</li>
                </ul>
            </div>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>


    <section class="job-details ptb-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="job-details-text">
                                <div class="job-card">
                                    <div class="row align-items-center">
                                        <div class="col-md-2">
                                            <div class="company-logo">
                                                <img src="assets/img/company-logo/1.png" alt="logo">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="job-info">
                                                <h3 th:text="${emploi.titre}"></h3>
                                                <ul>
                                                    <i class="bx bx-location-plus"></i>
                                                    <li th:text="${emploi.localisation}"></li>
                                                    <i class="bx bx-filter-alt"></i>
                                                    <li th:text="${emploi.catégorie.nom}"></li>
                                                    <i class="bx bx-briefcase"></i>
                                                    <li th:text="${emploi.type}"></li>
                                                </ul>
                                                <span>
                                                    <i class="bx bx-paper-plane"></i>
                                                    Postuler avant: <span th:text="${emploi.deadline}"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="details-text">
                                    <h3>Description</h3>
                                    <div th:text="${emploi.description}"></div>
                                    <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an
                                        unknown printer took a galley of type and scrambled it to make a type specimen
                                        book. It has survived not only five centuries,but also the leap into essentially
                                        unchanged.</p>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority
                                        have suffered alteration in some form, by injected humour, or randomised words
                                        which don't look even slightly believable.</p>-->
                                </div>
                                <div class="details-text">
                                    <h3>Exigences</h3>
                                    <p></p>
                                    <pre th:text="${emploi.exigences}">
                                        <!--<li>
                                            <i class="bx bx-check"></i>
                                            Work experience
                                        </li>
                                        <li>
                                            <i class="bx bx-check"></i>
                                            Skills (soft skills and/or technical skills)
                                        </li>
                                        <li>
                                            <i class="bx bx-check"></i>
                                            WPersonal qualities and attributes.
                                        </li>
                                        <li>
                                            <i class="bx bx-check"></i>
                                            Support software roll-outs to production.
                                        </li>
                                        <li>
                                            <i class="bx bx-check"></i>
                                            Guide and mentor junior engineers. Serve as team lead if appropriate.
                                        </li>-->
                                    </pre>
                                </div>
                                <div class="details-text">
                                    <h3>Détails du poste</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td><span>Entreprise</span></td>
                                                        <td th:text="${emploi.nomEntreprise}"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Localisation</span></td>
                                                        <td th:text="${emploi.localisation}"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Type d'emploi</span></td>
                                                        <td th:text="${emploi.type}"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Email</span></td>
                                                        <td><a
                                                                th:href="@{mailto:} + ${emploi.emailEntreprise}"><span
                                                                    class="__cf_email__" th:text="${emploi.emailEntreprise}"></span></a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-6">
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <td><span>Expérience</span></td>
                                                        <td th:text="${emploi.experience}"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Langue</span></td>
                                                        <td>English</td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Salaire</span></td>
                                                        <td th:text="${emploi.salaire_min} + ' - ' + ${emploi.salaire_max}"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span>Website</span></td>
                                                        <td><a th:href="@{emploi.website}" th:text="${emploi.website}"></a></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="theme-btn">
                                    <a href="#" class="default-btn">
                                       Appliquer maintenant
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="job-sidebar">
                        <h3>Posté par</h3>
                        <div class="posted-by">
                            <img src="assets/img/client-1.png" alt="client image">
                            <h4>John Doe</h4>
                            <span>CEO of Tourt Design LTD</span>
                        </div>
                    </div>
                    <div class="job-sidebar">
                        <h3>Localisation</h3>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d387190.27991517034!2d-74.25987556253516!3d40.697670063539654!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew%20York%2C%20NY%2C%20USA!5e0!3m2!1sen!2sbd!4v1588772651198!5m2!1sen!2sbd"
                            frameborder="0"></iframe>
                    </div>
                    <div class="job-sidebar">
                        <h3>Mots clés</h3>
                        <ul>
                            <li th:each="keyword : ${emploi.keywords}">
                                <a th:text="${keyword.nom}"></a>
                            </li>
                            <!--<li>
                                <a href="#">Data Sceince</a>
                            </li>
                            <li>
                                <a href="#">SEO</a>
                            </li>
                            <li>
                                <a href="#">Content Writter</a>
                            </li>
                            <li>
                                <a href="#">Finance</a>
                            </li>
                            <li>
                                <a href="#">Business</a>
                            </li>
                            <li>
                                <a href="#">Education</a>
                            </li>
                            <li>
                                <a href="#">Graphics</a>
                            </li>
                            <li>
                                <a href="#">Video</a>
                            </li>-->
                        </ul>
                    </div>
                    <div class="job-sidebar social-share">
                        <h3>Participer à</h3>
                        <ul>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class="bx bxl-linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="job-style-two pt-100 pb-70">
        <div class="container">
            <div class="section-title text-center">
                <h2>Des emplois qui pourraient vous intéresser</h2>
                  </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="job-details.html">
                                        <img src="assets/img/company-logo/1.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">Web Designer, Graphic Designer, UI/UX Designer </a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            Graphics Designer
                                        </li>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            $35000-$38000
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            Wellesley Rd, London
                                        </li>
                                        <li>
                                            <i class="bx bx-stopwatch"></i>
                                            9 days ago
                                        </li>
                                    </ul>
                                    <span>Full Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="job-details.html">
                                        <img src="assets/img/company-logo/2.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">Website Developer & Software Developer</a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            Web Developer
                                        </li>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            $3000-$8000
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            Garden Road, UK
                                        </li>
                                        <li>
                                            <i class="bx bx-stopwatch"></i>
                                            5 days ago
                                        </li>
                                    </ul>
                                    <span>Full Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="job-details.html">
                                        <img src="assets/img/company-logo/3.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">Application Developer & Web Designer</a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            App Developer
                                        </li>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            $3000-$4000
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            State City, USA
                                        </li>
                                        <li>
                                            <i class="bx bx-stopwatch"></i>
                                            8 days ago
                                        </li>
                                    </ul>
                                    <span>Part-Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="job-details.html">
                                        <img src="assets/img/company-logo/4.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">Frontend & Backend Developer</a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            Web Developer
                                        </li>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            $5000-$8000
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            Drive Post NY 676
                                        </li>
                                        <li>
                                            <i class="bx bx-stopwatch"></i>
                                            1 days ago
                                        </li>
                                    </ul>
                                    <span>Full Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="job-card-two">
                        <div class="row align-items-center">
                            <div class="col-md-1">
                                <div class="company-logo">
                                    <a href="job-details.html">
                                        <img src="assets/img/company-logo/5.png" alt="logo">
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="job-info">
                                    <h3>
                                        <a href="#">IT Department & Manager</a>
                                    </h3>
                                    <ul>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            Manager
                                        </li>
                                        <li>
                                            <i class="bx bx-briefcase"></i>
                                            $35000-$38000
                                        </li>
                                        <li>
                                            <i class="bx bx-location-plus"></i>
                                            Wellesley Rd, London
                                        </li>
                                        <li>
                                            <i class="bx bx-stopwatch"></i>
                                            7 days ago
                                        </li>
                                    </ul>
                                    <span>Full Time</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="theme-btn text-end">
                                    <a href="#" class="default-btn">
                                        Browse Job
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="subscribe-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>Recevez des notifications de nouvelles tâches</h2>
                        <p>Abonnez-vous et recevez toutes les notifications d'emplois associées</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Entrer votre mail" name="EMAIL" required
                            autocomplete="off">
                        <button class="default-btn sub-btn" type="submit">
                            S'abonner
                        </button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<div th:replace="footer ::html"></div>


    <div class="top-btn">
        <i class="bx bx-chevrons-up bx-fade-up"></i>
    </div>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/js/jquery.nice-select.min.js"></script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="assets/js/form-validator.min.js"></script>

    <script src="assets/js/contact-form-script.js"></script>

    <script src="assets/js/meanmenu.js"></script>

    <script src="assets/js/custom.js"></script>
</body>


</html>