<html>
<div class="navbar-area is-sticky">

	<div class="mobile-nav">
		<a href="index.html" class="logo">
			<img src="../assets/img/logo.png" alt="logo">
		</a>
	</div>
	<div class="main-nav">
		<div class="container">
			<nav class="navbar navbar-expand-lg navbar-light">
				<a class="navbar-brand" href="/">
					<img src="../assets/img/logo.png" alt="logo" width="160">
				</a>
				<div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
					<ul class="navbar-nav m-auto">
						<li class="nav-item">
							<a id="home-nav-item"  href="/" class="nav-link ">Acceuil</a>
						</li>
						<li class="nav-item">
							<a id="find-job-nav-item" href="/find-job" class="nav-link">Trouver un emploi</a>
						</li>
						<li class="nav-item">
							<a id="categories-nav-item" href="/catagories" class="nav-link">Domaines</a>
						</li>
						<li class="nav-item">
							<a id="about-nav-item" href="/about" class="nav-link">À propos</a>
						</li>
						<li class="nav-item">
							<a id="contact-nav-item" href="/contact" class="nav-link">Contact</a>
						</li>
						<li class="nav-item">
							<a id="plus-nav-item"  href="#" class="nav-link dropdown-toggle">Plus</a>
							<ul class="dropdown-menu">

								<li class="nav-item">
									<a href="/testimonial" class="nav-link">Témoignages</a>
								</li>
								<li class="nav-item">
									<a href="/faq" class="nav-link">FAQ</a>
								</li>
							</ul>
						</li>
					</ul>
					<div th:if="${session.userId == null}" class="other-option">
						<a href="/sign-up" class="signup-btn">S'inscrire</a>
						<a href="/account" class="signin-btn">Se connecter</a>
					</div>
					<div th:unless="${session.userId == null}" class="other-option">
						<a href="/account" class="signup-btn">Mon compte</a>
						<a href="/sign-out" class="signin-btn">Se déconnecter</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>

</html>
