<!doctype html>
<html lang="zxx">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">

    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="assets/css/boxicon.min.css">

    <link rel="stylesheet" href="assets/fonts/flaticon/flaticon.css">

    <link rel="stylesheet" href="assets/css/magnific-popup.css">

    <link rel="stylesheet" href="assets/css/meanmenu.css">

    <link rel="stylesheet" href="assets/css/nice-select.css">

    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/dark.css">

    <link rel="stylesheet" href="assets/css/responsive.css">

    <title>Carri-rex</title>

    <link rel="icon" type="image/png" href="assets/img/favicon.png">
</head>

<body>

    <div class="loader-content">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="sk-circle">
                    <div class="sk-circle1 sk-child"></div>
                    <div class="sk-circle2 sk-child"></div>
                    <div class="sk-circle3 sk-child"></div>
                    <div class="sk-circle4 sk-child"></div>
                    <div class="sk-circle5 sk-child"></div>
                    <div class="sk-circle6 sk-child"></div>
                    <div class="sk-circle7 sk-child"></div>
                    <div class="sk-circle8 sk-child"></div>
                    <div class="sk-circle9 sk-child"></div>
                    <div class="sk-circle10 sk-child"></div>
                    <div class="sk-circle11 sk-child"></div>
                    <div class="sk-circle12 sk-child"></div>
                </div>
            </div>
        </div>
    </div>

<div th:replace="navbar ::html"></div>

    <section class="page-title title-bg11">
        <div class="d-table">
            <div class="d-table-cell">
                <h2>CV</h2>
                <ul>
                    <li>
                        <a href="/">Acceuil</a>
                    </li>
                    <li>CV</li>
                </ul>
            </div>
        </div>
        <div class="lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </section>


    <section class="resume-section ptb-100">
        <div class="container">
            <div class="resume-area">
                <div class="row">
                    <div class="col-md-12">
                        <div class="resume-thumb-area text-center">
                            <img src="assets/img/account.jpg" alt="account image">
                            <h3 th:text="${ing.prenom} + ' ' + ${ing.nom}"></h3>
                            <p th:text="${profil.titre}"></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="resume-content about-text">
                            <h3>
                                <i class="bx bx-user-circle"></i>
                                About Me
                            </h3>
                            <p th:text="${profil.aperçu}"></p>
                        </div>
                        <div class="resume-content basic-info-text">
                            <h3>
                                <i class="bx bx-book-alt"></i>
                                Basic Info
                            </h3>
                            <ul>
                                <li>
                                    <span>Age:</span>
                                    <a th:text="${ing.age}"></a>
                                    
                                </li>
                                <li>
                                    <span>Category:</span>
                                    <a  th:text="${profil.category}"></a>
                                </li>
                                <li>
                                    <span>Experience:</span>
                                    <a  th:text="${profil.experience}"></a>
                                </li>
                                <li>
                                    <span>Gender:</span>
                                    <a th:text="${ing.sexe}"></a>
                                </li>
                                <li>
                                    <span>Status:</span>
                                    Full Time???????
                                </li>
                            </ul>
                        </div>
                        <div class="resume-content education-text">
                            <h3>
                                <i class="bx bx-book-reader"></i>
                                Formations
                            </h3>
                            <div th:each="formation:${formations}" class="education-info">
                                <span th:text="${#dates.format(formation.debut, 'yyyy')} + '-' + ${#dates.format(formation.fin, 'yyyy')}"></span>
                                <h5 th:text="${formation.niveau} + ' ' + ${formation.spécialité} "></h5>
                                <h4 th:text="${formation.institution}"></h4>
                                <p th:text="${formation.description}"></p>
                            </div>
                        </div>
                        <div class="resume-content  experience-text">
                            <h3>
                                <i class="bx bx-briefcase"></i>
                                Expéricences
                            </h3>
                            <div th:each="expérience:${expériences}" class="experience-info">
                                <span th:text="${#dates.format(expérience.debut, 'yyyy')} + '-' + ${#dates.format(expérience.fin, 'yyyy')}">2016-2018</span>
                                <h5 th:text="${expérience.titre}"></h5>
                                <h4 th:text="${expérience.entreprise}"></h4>
                                <p th:text="${expérience.description}"></p>
                            </div>
                        </div>
                        <div class="resume-content skill">
                            <h3>
                                <i class="bx bx-check-shield"></i>
                                Compétences
                            </h3>
                            <span th:each="compétence:${compétences}" th:text="${compétence.nom} + ' - '"> </span>
                        <div class="theme-btn">
                            <a href="#" class="default-btn">
                                Télécharger
                                <i class="bx bx-download bx-fade-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="subscribe-section">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="section-title">
                        <h2>Recevez des notifications de nouvelles tâches</h2>
                        <p>Abonnez-vous et recevez toutes les notifications d'emplois associées</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Entrer votre mail" name="EMAIL" required
                            autocomplete="off">
                        <button class="default-btn sub-btn" type="submit">
                            S'abonner
                        </button>
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </section>

<div th:replace="footer ::html"></div>


    <div class="top-btn">
        <i class="bx bx-chevrons-up bx-fade-up"></i>
    </div>


    <script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/owl.carousel.min.js"></script>

    <script src="assets/js/jquery.nice-select.min.js"></script>

    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <script src="assets/js/form-validator.min.js"></script>

    <script src="assets/js/contact-form-script.js"></script>

    <script src="assets/js/meanmenu.js"></script>

    <script src="assets/js/custom.js"></script>
</body>


</html>